{% extends 'base.html.twig' %}
{% block body %}

    <script src="//code.highcharts.com/4.0.1/highcharts.js"></script>
    <script src="//code.highcharts.com/4.0.1/modules/exporting.js"></script>
    {% if chart %})
    <script type="text/javascript">
        {{ chart(chart) }}
    </script>
    {% endif %}
    <div id="linechart" style="min-width: 400px; height: 400px; margin: 0 auto"></div>

    <form action="{{ path('analytic') }}" method="get">
        <select name="id">
            {% for account in accounts %}
            <option value="{{ account.id }}">{{ account.username }}</option>
            {% endfor %}
        </select>
        <button type="submit">Посмотреть</button>
    </form>
{% endblock %}