{% extends 'base.html.twig' %}
{% block body %}
<h1>Покупка</h1>
    <iframe frameborder="0" allowtransparency="true" scrolling="no" src="https://money.yandex.ru/embed/shop.xml?account=410013109261032&quickpay=shop&payment-type-choice=on&writer=seller&targets=%D0%BC%D0%B5%D1%81%D1%8F%D1%87%D0%BD%D1%8B%D0%B9+%D0%BF%D0%BB%D0%B0%D0%BD&targets-hint=&default-sum=799&button-text=01&successURL=" width="450" height="198"></iframe>
{% endblock %}