{% extends 'base.html.twig' %}
{% block body %}
<h1>На развитие сервиса</h1>
    <h3>Жизнь суровая штука, нам нужно платить за сервер, доменное имя и выделенные прокси, <br/>с Вашей помощью нам будет проще</h3>
    <iframe frameborder="0" allowtransparency="true" scrolling="no" src="https://money.yandex.ru/embed/shop.xml?account=410013109261032&quickpay=shop&payment-type-choice=on&writer=seller&targets=%D0%9D%D0%B0+%D1%80%D0%B0%D0%B7%D0%B2%D0%B8%D1%82%D0%B8%D0%B5+%D1%81%D0%B5%D1%80%D0%B2%D0%B8%D1%81%D0%B0+Instastellar&targets-hint=&default-sum=100&button-text=01&successURL=instastellar.su" width="450" height="198"></iframe>

    <div id="w1widget"></div>
    <script type="text/javascript">
        W1.widget({
            "pt": "WalletOneRUB,CreditCardRUB,SberOnlineRUB,PsbRetailRUB,BeelineRUB,MtsRUB",
            "bigLogo": true,
            "grayscale": false,
            "blackBg": false,
            "fixWidth": "",
            "container": "w1widget"
        });
    </script>
{% endblock %}