{% extends 'base.html.twig' %}
{% block body %}
<h1>Покупка</h1>
    <div class="row text-center">
        <div class="col-xs-4">
            <div class="box">
                <form method="POST" action="https://money.yandex.ru/quickpay/confirm.xml">
                    <h2 class="payment-h2">К открытию 1 мес!</h2>
                    <img src="/img/rocket1.png">
                    <p class="payment-p">Подписка на Pro версию за 799 р/мес</p>
                    <select class="payment-option" name="paymentType" >
                        <option value="AC">Банковской картой</option>
                        <option value="PC">Яндекс.Деньгами</option>
                    </select>
                    <input class="btn-purchase" type="submit" name="submit-button" value="Купить">

                    <input type="hidden" name="receiver" value="410013109261032">
                    <input type="hidden" name="formcomment" value="Подписка instastellar 1 мес">
                    <input type="hidden" name="short-dest" value="Подписка instastellar 1 мес">
                    <input type="hidden" name="quickpay-form" value="shop">
                    <input type="hidden" name="label" value="{{ user.id }}">
                    <input type="hidden" name="targets" value="instastellar">
                    <input type="hidden" name="sum" value="799.00" data-type="number" >
                </form>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="box">
                <form method="POST" action="https://money.yandex.ru/quickpay/confirm.xml">
                <h2 class="payment-h2">Базовый 3 мес!</h2>
                <img src="/img/rocket2.png">
                <p class="payment-p">Подписка на Pro версию за 1999 р/мес</p>
                <select class="payment-option" name="paymentType" >
                    <option value="AC">Банковской картой</option>
                    <option value="PC">Яндекс.Деньгами</option>
                </select>
                <input class="btn-purchase" type="submit" name="submit-button" value="Купить">

                <input type="hidden" name="receiver" value="410013109261032">
                <input type="hidden" name="formcomment" value="Подписка instastellar 3 мес">
                <input type="hidden" name="short-dest" value="Подписка instastellar 3 мес">
                <input type="hidden" name="quickpay-form" value="shop">
                <input type="hidden" name="label" value="{{ user.id }}">
                <input type="hidden" name="targets" value="instastellar">
                <input type="hidden" name="sum" value="1999.00" data-type="number" >
                </form>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="box">
                <form method="POST" action="https://money.yandex.ru/quickpay/confirm.xml">
                <h2 class="payment-h2">SMM-Pro 7 мес!</h2>
                <img src="/img/rocket3.png">
                <p class="payment-p">Подписка на Pro версию за 3999 р/мес</p>
                <select class="payment-option" name="paymentType" >
                    <option value="AC">Банковской картой</option>
                    <option value="PC">Яндекс.Деньгами</option>
                </select>
                <input class="btn-purchase" type="submit" name="submit-button" value="Купить">

                <input type="hidden" name="receiver" value="410013109261032">
                <input type="hidden" name="formcomment" value="Подписка instastellar 7 мес">
                <input type="hidden" name="short-dest" value="Подписка instastellar 7 мес">
                <input type="hidden" name="quickpay-form" value="shop">
                <input type="hidden" name="label" value="{{ user.id }}">
                <input type="hidden" name="targets" value="instastellar">
                <input type="hidden" name="sum" value="3999.00" data-type="number" >
                </form>
            </div>
        </div>
    </div>
    {% if (user.validUntil| date('U')) < ('now' | date('U')) %}
        <p style="color: red;">Срок действия Вашего аккаунта истек</p>
    {% else %}
        <p>Ваш аккаунт действителен до: {{ user.validUntil | date("H:00 d/m/Y", user.timezone) }}</p>
    {% endif %}
    <style>
        .box{
            width: 90%;
            background-color: #428BCA;
            margin: 0 auto;
            color: white;
        }
        .btn-purchase{
            width: 80%;
            height: 50px;
            color: white;
            border: 0;
            margin-bottom: 15px;
            background-color: rgb(232, 12, 113);
        }
        .payment-option{
            color: black;
            margin-bottom: 5px;
        }
        .payment-h2{
            padding-top: 15px;
        }
        .payment-p{
            padding-left: 20px;
            padding-right: 20px;
        }
    </style>
    <!--<iframe frameborder="0" allowtransparency="true" scrolling="no" src="https://money.yandex.ru/embed/shop.xml?account=410013109261032&quickpay=shop&payment-type-choice=on&writer=seller&targets=%D0%9D%D0%B0+%D1%80%D0%B0%D0%B7%D0%B2%D0%B8%D1%82%D0%B8%D0%B5+%D1%81%D0%B5%D1%80%D0%B2%D0%B8%D1%81%D0%B0+Instastellar&targets-hint=&default-sum=100&button-text=01&successURL=instastellar.su" width="450" height="198"></iframe>
      -->

{% endblock %}