{% extends 'base.html.twig' %}
{% block body %}
<h1>Покупка месячного плана</h1>
    <!--<iframe frameborder="0" allowtransparency="true" scrolling="no" src="https://money.yandex.ru/embed/shop.xml?account=410013109261032&quickpay=shop&payment-type-choice=on&writer=seller&targets=%D0%9D%D0%B0+%D1%80%D0%B0%D0%B7%D0%B2%D0%B8%D1%82%D0%B8%D0%B5+%D1%81%D0%B5%D1%80%D0%B2%D0%B8%D1%81%D0%B0+Instastellar&targets-hint=&default-sum=100&button-text=01&successURL=instastellar.su" width="450" height="198"></iframe>
    -->
    <form method="POST" action="https://money.yandex.ru/quickpay/confirm.xml">
        <input type="hidden" name="receiver" value="410013109261032">
        <input type="hidden" name="formcomment" value="Месячная подписка">
        <input type="hidden" name="short-dest" value="Месячная подписка">
        <input type="hidden" name="quickpay-form" value="shop">
        <input type="hidden" name="label" value="{{ user.id }}">
        <input type="hidden" name="targets" value="firstpay">
        <input type="hidden" name="sum" value="1.00" data-type="number" >

        <input type="radio" name="paymentType" value="PC">Яндекс.Деньгами</input>
        <input type="radio" name="paymentType" value="AC">Банковской картой</input>
        <input type="submit" name="submit-button" value="Перевести">
    </form>
{% endblock %}