{% extends 'base.html.twig' %}
{% block body %}
<h1>Покупка месячного плана</h1>
    <!--<iframe frameborder="0" allowtransparency="true" scrolling="no" src="https://money.yandex.ru/embed/shop.xml?account=410013109261032&quickpay=shop&payment-type-choice=on&writer=seller&targets=%D0%9D%D0%B0+%D1%80%D0%B0%D0%B7%D0%B2%D0%B8%D1%82%D0%B8%D0%B5+%D1%81%D0%B5%D1%80%D0%B2%D0%B8%D1%81%D0%B0+Instastellar&targets-hint=&default-sum=100&button-text=01&successURL=instastellar.su" width="450" height="198"></iframe>
    -->
    <form action="https://wl.walletone.com/checkout/checkout/Index" method="POST" target="_blank">
        <input type="hidden" name="WMI_MERCHANT_ID" value="157611806898">
        <input type="hidden" name="WMI_CUSTOMER_ID" value="{{ user.id }}">
        <input type="hidden" name="WMI_PAYMENT_AMOUNT" value="1.00">
        <input type="hidden" name="WMI_CURRENCY_ID" value="643">
        <input type="hidden" name="WMI_DESCRIPTION" value="Месячный пакет">
        <input type="hidden" name="WMI_SUCCESS_URL" value="http://instastellar.su/purchase/success">
        <input type="hidden" name="WMI_FAIL_URL" value="http://instastellar.su/purchase/fail">
        <input type="submit" class="button button__main item-button" value="Купить">
    </form>
{% endblock %}