{% extends 'base.html.twig' %}
{% block body %}
    <div class="row"><div class="col-xs-9">
<h1 class="heads_menu">Руководство пользователя</h1>
    <h2 class="heads_podmenu">Содержание:</h2>
    <div class="soderjanie"><p>Как начать продвижение</p>
    <p>Подробнее о заданиях</p>
        <p style="padding-left:80px">1)Массфоловинг</p>
            <p style="padding-left:130px">-По конкурентам</p>
            <p style="padding-left:130px">-По тегам</p>
            <p style="padding-left:130px">-По спискам</p>
        <p style="padding-left:80px">2)Масслайкинг</p>
        <p style="padding-left:80px">3)Отписка</p>
            <p style="padding-left:130px">-Зачем нужна?</p>
                <p>Если возникла ошибка</p></div>

    <div class="text"><p>Интерфейс нашего сервиса интуитивно понятен любому человеку, даже не знакомому с SMM и продвижением.
        </p>
    <div class="embed-responsive embed-responsive-4by3">
        <iframe class="embed-responsive-item" frameborder="0"  style = "padding-top:20px; padding-bottom: 20px;" src="https://www.youtube.com/embed/tn_2vJvTpBQ" allowfullscreen></iframe>
    </div>
    <p class="heads_text">Как начать продвижение</p>
        <p>Вы зарегистрировались, вошли в панель управления аккаунтами. </p>
        <p>Для того чтобы начать продвижение, необходимо перейти по вкладке Мои аккаунты(КНОПКУ ВСТАВИТЬ) в левом меню и щелкнуть по кнопке Добавить аккаунт (КНОПКУ ВСТАВИТЬ).</p>
        <p>Вы автоматически оказываетесь на защищенной странице авторизации сайта
            Instagram, вводите логин и пароль своего аккаунта и возвращаетесь в Панель управления аккаунтами instaStellar.
        </p>
        <p>Теперь добавленный аккаунт отображается на странице и Вы можете добавлять задания.</p>
        <p>Чтобы избежать бана, максимум на 1 аккаунте можно одновременно выполнять 1 задание:
        </p>
        <p>Массфоловинг, масслайкинг или отписку. </p>
        <p>Для того чтобы добавить нужное задание необходимо нажать на кнопку + или СЕРДЕЧКО и выбрать из предложенного списка подходящую опцию. </p>

        <p class="heads_text">Подробнее о видах заданий</p>
        <p>Задания могут быть 3-х видов:</p>
        <p class="titul" style="padding-left:40px">1)Массфоловинг</p>
        <p class="titul" style="padding-left:40px">2)Масслайкинг</p>
        <p class="titul" style="padding-left:40px">3)Отписка</p>

        <p>Остановимся подробнее на каждом из них в отдельности.</p>

        <p class="titul" style="text-align: center">1.Массфоловинг</p>
        <p>Массфоловинг представляет собой массовую подписку на аккаунты Целевой Аудитории с помощью программы в автоматическом режиме.</p>
        <p>В instaStellar реализованы 3 варианта массфоловинга:</p>
        <p><font class="titul">-Подписка по конкурентам:</font>
        Вы находите аккаунт Инстаграм, схожий по тематике с Вашим аккаунтом, нажимаете на +. Далее из предложенного списка выбираете Подписка по ID. Появляется окошко ВОТ ТАКОЕ, в котором Вы должны указать необходимое количество аккаунтов, на которые программа подпишется и указать ID аккаунта, подписчиков которого Вам нужно добавить.
        Обращаем Ваше внимание, что подписка ведется именно на подписчиков данного аккаунта, так как это наиболее эффективно – подписываться на людей, которые уже готовы подписаться на сообщество, а не отклонить заявку. </p>
        <p>Программа позволяет включить опцию Не подписываться на закрытые страницы, так как в Инстаграме существует лимит на количество Ваших подписок – 7500, на большее количество аккаунтов Вы не можете быть подписаны.</p>
        <p>Если Вы добавляетесь в закрытый аккаунт, человек может просто Вас проигнорировать и не отказаться от Вашего запроса на подписку, но и не согласиться принять его. В таком случае Вы остаетесь «висеть» у него в запрошенных, Ваш счетчик подписок увеличивается на +1 аккаунт, но он не отображается у Вас в подписках. То есть чтобы отписаться от него Вам нужно будет зайти на его страницу. В условиях Массфоловинга запомнить всех таких запрошенных невозможно, отписаться тоже, поэтому фактический лимит подписок будет все сокращаться и настанет момент, когда Вы не сможете подписаться ни на кого.
            Поэтому мы внесли ограничение – игнорирование подписок на закрытые страницы, которые Вы можете отключить по своему усмотрению.</p>
        <p><font class="titul">-Подписка по тегам:</font>
            Нажимаете на Добавить задание, выбираете Подписка по тегам. Появляется ОКОШКО. В нем Вы указываете желаемое количество аккаунтов для подписки и в графу Теги прописываете хэштеги в ФОРМАТЕ #тег#smile#instasize (ОГРАНИЧЕНИЯ в 250 символов), по которым instaStellar будет искать фотографии и подписываться на аккаунты, которые их запостили.</p>
        <p><font class="titul">-Подписка по спискам:</font>
            Эта функция массфоловинга пригодится тем, у кого есть сформированная база аккаунтов Инстаграм для подписки. Это весьма эффективный вид массфоловинга, так как в данном случае Вы подписываетесь на потенциально самую активную и платежеспособную Целевую Аудиторию. Самое проблематичное в данном случае – получить такую базу. На сегодняшний день собрать такую базу можно с помощью некоторых сервисов, таких как Церебро.</p>
        <p>Команда instaStellar очень скоро предоставит возможность сбора баз Целевой Аудитории, эта возможность находится в разработке. </p>

        <p class="titul" style="text-align: center">2.Масслайкинг</p>
        <p>Масслайкинг служит для привлечения внимания и повышения лояльности потенциального подписчика к Вашему аккаунту.
            instaStellar ставит лайки по заданным хэштегам, пользователь видит что Вы поставили ему лайк, переходит на Вашу страницу и, если она его заинтересовывает (очень важно правильно подобрать хэштеги, которые может использовать потенциально Ваша Целевая Аудитория), подписывается на Вас. </p>
        <p>Для того, чтобы instaStellar начал ставить лайки, Вам нужно нажать на СЕРДЕЧКО справа у Вашего аккаунта. Появится ОКОШКО, где Вы выставляете желаемое количество подписок, вводите хэштеги в формате #rare#smile#rembo (ограничение 250 символов) и нажимаете Выполнить. </p>
        <p class="titul" style="text-align: center">3.Отписка</p>
        <p>Грамотная отписка является очень важной частью продвижения аккаунта в Инстаграме.</p>
        <p class="titul" style="text-align: center">Зачем нужно отписываться?</p>
        <p><font class="titul">Во-первых,</font> в Инстаграме существует лимит на количество подписок. Он составляет 7500 человек, после чего необходимо отписываться, так как в противном случае становится недоступным продвижение с помощью массфоловинга.</p>
        <p><font class="titul">Во-вторых,</font> аккаунт, который подписан на большее количество людей чем подписаны на него, выглядит непривлекательно. Опционально вообще оставлять в подписках как можно меньше аккаунтов.</p>
        <p>InstaStellar самостоятельно отпишет Ваш аккаунт за непродолжительное время в автоматическом режиме.</p>
        <p>Включить задание на отписку Вы можете, нажав на кнопку КНОПКУ в своем аккаунте. Появится окно, в котором Вы указываете количество людей, от которых хотите отписаться и нажимаете КНОПКУ ОТПИСАТЬСЯ.</p>
        <p class="heads_text">Если возникла ошибка</p>
        <p>Если работа задания остановилось и загорелось окно ошибки, Вы можете выполнить ниженаписанные действия и попробовать возобнобновить задание. В случае, если ни одно ихз действий не помогло, свяжитесь с нашей технической поддержкой. </p>
        <p class="titul" style="text-align: center">Ваши действия в случае возникновения ошибки в задании</p>
        <p>1) Убедитесь, что задание остановлено</p>
        <p>2) Войдите в свой аккаунт с телефона (через приложение)</p>
        <p>3) Введите капчу если появилось окошко капчи</p>
        <p>4) Если появилось окошко подтверждения номера, подтвердите (Instagram может послать sms с кодом только на Tele2 и MTC номера, если у Вас отсутствуют данные операторы, зарегистрируйте виртуальный номер на сайте <a></a>sms-reg.com</a></p>
        <p>5) Возобновите задание</p>

    </div>
        </div><div class="col-xs-2"><img src="/img/half-rocket.png"></div></div>
    <script>
        $('#info').addClass('active');
    </script>

    <style>
        .soderjanie p{
            padding-left:50px;
            color: #fb007c;
            font-family: Roboto Condensed;
            font-weight: lighter;
            line-height: 0;
            font-size: 18px;
        }

        .heads_menu {
            color: #fb007c;
            font-family: Roboto Condensed;
            text-align: center;
            font-weight: lighter;
            letter-spacing: 5;
        }
        .heads_podmenu {
            padding-left:50px;
            color: #fb007c;
            font-family: Roboto Condensed;
            font-weight: lighter;
            letter-spacing: 5
        }
        .titul {
            padding-left:50px;
            color: #fb007c;
            font-family: Roboto Condensed;
            font-weight: lighter;
            letter-spacing: 5;
        }
        .text {
            padding-left:50px;
            color: #636363;
            font-family: Roboto Condensed;
            font-weight: lighter;
            letter-spacing: 5;
        }
        .text .heads_text {
            text-align: center;
            color: #f82785;
            font-family: Roboto Condensed;
            font-weight: bold;
            letter-spacing: 5;
        }
    </style>
{% endblock %}

