{% extends 'landing_base.html.twig' %}

{% block content %}
<body>

<div style="background-image: url('/img/background_space.jpg'); background-size: cover; padding-bottom:30px;">
    <section id="conf_politics" style="padding-top:50px;">
        <h1>Политика конфиденциальности</h1>
        <p>ПОЛИТИКА ЗАЩИТЫ ПЕРСОНАЛЬНОЙ ИНФОРМАЦИИ ПОЛЬЗОВАТЕЛЕЙ САЙТА</p>
        <h3 style="font-family: 'Roboto Condensed', sans-serif;!important;">1. ОБЩИЕ УСЛОВИЯ</h3>
        <p>1.1. Настоящая Политика определяет порядок обработки и защиты Индивидуальным Предпринимателем «Марченко Романом Сергеевичем» информации о физических лицах, которая может быть получена пользователем (далее Пользователь) при использовании Пользователем услуг предоставляемых посредством сайта, сервисов, служб, программ ИП "Марченко Роман Сергеевич" (далее сайт, сервисы).</p>
        <p>1.2. Целью настоящей Политики является обеспечение надлежащей защиты информации о Пользователях, в том числе их персональных данных, от несанкционированного доступа и разглашения.</p>
        <p>1.3. Отношения, связанные со сбором, хранением, распространением и защитой информации предоставляемой Пользователем, регулируются настоящей Политикой, иными официальными документами ИП «Марченко Роман Сергеевич» и действующим законодательством Российской Федерации.</p>
        <p>1.4. Регистрируясь на Сайте или используя Сайт и Сервисы, Пользователь выражает свое полное согласие с условиями настоящей Политики.</p>
        <p>1.5. В случае несогласия Пользователя с условиями настоящей Политики использование Сайта и/или каких-либо Сервисов, доступных при использовании Сайта, должно быть немедленно прекращено.</p>
        <h3 style="font-family: 'Roboto Condensed', sans-serif;!important;">2. ЦЕЛИ СБОРА, ОБРАБОТКИ И ХРАНЕНИЯ ИНФОРМАЦИИ, ПРЕДОСТАВЛЯЕМОЙ ПОЛЬЗОВАТЕЛЯМИ САЙТА</h3>
        <p>2.1. Обработка персональных данных Пользователя осуществляется в соответствии с законодательством Российской Федерации. ИП «Марченко Роман Сергеевич» обрабатывает персональные данные Пользователя в целях: идентификации стороны в рамках соглашений и договоров с ИП «Марченко Роман Сергеевич»; предоставления Пользователю услуг, в том числе в целях получения Пользователем таргетированной рекламы; проверки, исследования и анализа таких данных, позволяющих поддерживать и улучшать сервисы и разделы Сайта, а также разрабатывать новые сервисы и разделы Сайта; проведения статистических и иных исследований на основе обезличенных данных.</p>
        <h3 style="font-family: 'Roboto Condensed', sans-serif;!important;">3. УСЛОВИЯ ОБРАБОТКИ ПЕРСОНАЛЬНОЙ ИНФОРМАЦИИ ПРЕДОСТАВЛЕННОЙ ПОЛЬЗОВАТЕЛЕМ И ЕЕ ПЕРЕДАЧИ ТРЕТЬИМ ЛИЦАМ</h3>
        <p>3.1. ИП «Марченко Роман Сергеевич» принимает все необходимые меры для защиты персональных данных Пользователя от неправомерного доступа, изменения, раскрытия или уничтожения.</p>
        <p>3.2. ИП «Марченко Роман Сергеевич» предоставляет доступ к персональным данным Пользователя только тем работникам, подрядчикам и аффилированным лицам которым эта информация необходима для обеспечения функционирования Сайта, Сервисов и оказания Услуг Пользователю.</p>
        <p>3.3. ИП «Марченко Роман Сергеевич» вправе использовать предоставленную Пользователем информацию, в том числе персональные данные, в целях обеспечения соблюдения требований действующего законодательства Российской Федерации (в том числе в целях предупреждения и/или пресечения незаконных и/или противоправных действий Пользователей). Раскрытие предоставленной Пользователем информации может быть произведено лишь в соответствии с действующим законодательством Российской Федерации по требованию суда, правоохранительных органов, а равно в иных предусмотренных законодательством Российской Федерации случаях.</p>

        <h3 style="font-family: 'Roboto Condensed', sans-serif;!important;">4. ИЗМЕНЕНИЕ ПОЛИТИКИ КОНФИДЕНЦИАЛЬНОСТИ. ПРИМЕНИМОЕ ЗАКОНОДАТЕЛЬСТВО</h3>
        <p>4.1. ИП «Марченко Роман Сергеевич» имеет право вносить изменения в настоящую Политику конфиденциальности. При внесении изменений в актуальной редакции указывается дата последнего обновления. Новая редакция Политики вступает в силу с момента ее размещения, если иное не предусмотрено новой редакцией Политики. </p>
        <p>4.2. К настоящей Политике и отношениям между Пользователем и ИП «Марченко Роман Сергеевич» возникающим в связи с применением Политики конфиденциальности, подлежит применению право Российской Федерации.</p>
        <h3 style="font-family: 'Roboto Condensed', sans-serif;!important;">5. ОБРАТНАЯ СВЯЗЬ. ВОПРОСЫ И ПРЕДЛОЖЕНИЯ</h3>
        <p>5.1. Все предложения или вопросы по поводу настоящей Политики следует сообщать в Службу поддержки</p>
    </section>

    <section id="offer" style="padding-top:50px;">
        <h1>Публичная оферта</h1>
        <h3 style="font-family: 'Roboto Condensed', sans-serif;!important;">ДОГОВОР-ОФЕРТА НА ОКАЗАНИЕ УСЛУГ</h3>
        <p>г. Санкт-Петербург</p>
        <p>«01» июля 2015 г.</p>
        <p>Изложенный ниже текст Оферты адресован любому физическому или юридическому лицу, а также индивидуальному предпринимателю, именуемому в дальнейшем «Пользователь», и является официальным публичным предложением Индивидуального предпринимателя Марченко Романа Сергеевича, именуемого в дальнейшем «Исполнитель».</p>
        <p>Пользователь и Исполнитель, в дальнейшем именуемые «Стороны», заключают договор на оказание услуг в соответствии с п. 2 ст. 437 ГК РФ, регламентирующий порядок оказания услуг и обязательства, возникающие в связи с этим между Исполнителем и Пользователем.</p>
        <p>1. Общие положения</p>
        <p>1.1. Для использования Услуги, предоставляемой Исполнителем, Пользователю необходимо принять данный Договор, иначе Пользователь не вправе пользоваться Услугами, предоставляемыми Исполнителем.</p>
        <p>1.2. Настоящий Договор между Пользователем и Исполнителем по форме его заключения является Договором присоединения (ст. 428 Гражданского кодекса РФ), условия которого определены ниже по тексту и могут быть приняты Пользователем не иначе как путем присоединения к настоящему Договору в целом.</p>
        <p>1.3. Услуги, оказываемые Исполнителем, постоянно и динамично развиваются. Это означает, что в предлагаемых Услугах, программном обеспечении Исполнителя, его функциях и компонентах, в форме и виде предоставления Услуг, на сайте Исполнителя и во всех материалах, информации, условиях, текстах, программах, модулях и компонентах, интерфейсах, графическом оформлении, во всем остальном, что так или иначе связанно с предоставлением Услуг Исполнителем, будут происходить постоянные изменения, и Исполнитель может в любое время изменять условия настоящего Договора.</p>
        <p>1.4. Любые изменения к настоящим условиям Договора будут отображаться на веб-странице: http://instastellar.su/publichnaya-oferta/, а использование (продолжение использования) Пользователем услуг после внесения таких изменений означает полный и безоговорочный акцепт Оферты с учетом внесенных изменений.</p>
        <p>2. Термины и определения</p>
        <p>В настоящей Оферте нижеприведенные термины используются в следующем значении:</p>
        <p>2.1. Оферта – настоящий документ «ДОГОВОР-ОФЕРТА НА ОКАЗАНИЕ УСЛУГ» – соглашение двух или нескольких лиц об установлении, изменении или прекращении гражданских прав и обязанностей.</p>
        <p>2.2. Опубликование – размещение документа в свободном доступе в сети Интернет по указанному в Оферте адресу</p>
        <p>2.3. Акцепт оферты – совершение пользователем любых конклюдентных действий в отношении использования Программы, как предусмотренных настоящим договором, так и нет, является полным и безусловным принятием (акцептом) всех условий настоящего Договора.</p>
        <p>2.4. Пользователь – любое физическое,  юридическое лицо или индивидуальный предприниматель, обладающий правом пользоваться услугами Исполнителя, являющийся дееспособным лицом, в том числе достигнувший установленного законом возраста дееспособности, и если такому лицу законодательством Российской Федерации, государства, резидентом которого такое лицо является или с территории которого такое лицо пользуется услугами Исполнителя, разрешено использование услуг, оказываемых Исполнителем.</p>
        <p>2.5. Сайт Исполнителя — официальный информационный ресурс (сайт), расположенный в сети Интернет по адресу http://instastellar.su/ </p>
        <p>2.6. Сервис — технологическая обособленная часть программного комплекса и (или) программный комплекс, обеспечивающий информационное, технологическое и иное обслуживание Пользователей, предоставление услуг в соответствии с настоящим Договором.</p>
        <p>3. Предмет Договора</p>
        <p>3.1. Исполнитель обязуется на определённых настоящим Договором условиях и сроках оказывать Заказчику неисключительное право на использование программного обеспечения посредством использования специализированного программного обеспечения - Программы Исполнителя.</p>
        <p>4. Права Пользователя</p>
        <p>4.1. Самостоятельно принимать решение об использовании услуг, предоставляемых Исполнителем и получать такие услуги Исполнителя в соответствии и на основании настоящего Договора.</p>
        <p>4.2. Пользователь не имеет права и Пользователю прямо запрещается производить декомпиляцию, дизассемблирование и другими способами изучать исходный код Программы.</p>
        <p>4.3. Пользователь не имеет права и Пользователю прямо запрещается продавать, сдавать в аренду, в прокат или во временное пользование, использовать любым другим способом и образом, отличным от способа использования, оговоренного в настоящем договоре, Программы Исполнителя и Услуг Исполнителя.</p>
        <p>4.4. Пользователь не имеет права и Пользователю прямо запрещается модифицировать Программу.</p>
        <p>4.5. Пользователь не имеет права и Пользователю прямо запрещается передавать Имя пользователя и(или) Пароль от учетной записи Пользователя третьим лицам.</p>
        <p>5. Обязанности Пользователя</p>
        <p>5.1. Пользователь обязан своевременно и в полном объеме оплачивать предоставляемые и потребленные Пользователем услуги в соответствии с настоящим договором.</p>
        <p>5.2. В случае утери и (или) разглашения Пользователем своего пароля на доступ к предоставляемым услугам (Учетной записи), Пользователь самостоятельно несет риск возможных неблагоприятных для него последствий.</p>
        <p>5.3. Пользователь обязуется не использовать Программу и (или) Услуги Исполнителя для загрузки, хранения и (или) распространения любого Содержания, созданного Пользователем, нарушающего Законодательство РФ или права и законные интересы третьих лиц, либо содержащего вирусы или иной вредоносный код. Пользователь самостоятельно несет ответственность перед третьими лицами за свои действия, связанные с размещением и (или) хранением Содержания, созданного Пользователем в Программе. Пользователь самостоятельно и за свой счет обязуется урегулировать все претензии третьих лиц, связанные с размещением и(или) хранением Содержания, созданного Пользователем в Программе.</p>
        <p>5.4. Пользователь обязан нести всю ответственность за:</p>
        <p>а) соблюдение всех требований законодательства РФ, в том числе, законодательства о рекламе и законодательства об интеллектуальной собственности, включая законодательство об охране авторского права и смежных правах;</p>
        <p>б) достоверность сведений, указанных им при регистрации в качестве Пользователя.</p>
        <p>6. Заверения и гарантии Пользователя</p>
        <p>6.1.Соглашаясь с условиями настоящего Договора и принимая условия настоящего договора, Пользователь настоящим гарантирует, что:</p>
        <p>а) Вся информация, сообщенная Пользователем Исполнителю для онлайн регистрации в Программе, правильная и действующая;</p>
        <p>б) у Пользователя есть все права и полномочия на заключение настоящего Договора и на выполнение действий им предусмотренных; в) Пользователь соблюдает и будет соблюдать все применимые законы, законодательные акты, распоряжения и постановления и все соответствующие законы о конфиденциальности и безопасности данных при выполнении действий, указанных в настоящем Договоре;</p>
        <p>г) Пользователь добровольно принимает условия настоящего договора в полном объеме и безоговорочно и при этом он полностью ознакомился с настоящим договором, полностью понимает предмет настоящего договора и его условия, полностью понимает значение и последствия своих действий в отношении Акцепта настоящего оферты и оказания Услуг в соответствии с договором.</p>
        <p>7. Права Исполнителя</p>
        <p>7.1. Исполнитель имеет право оказывать услуги Пользователям на условиях настоящего договора. Исполнитель имеет право отказать любому Пользователю в оказании Услуги и блокировать доступ к Учетной записи Пользователя в случаях:</p>
        <p>а) если не проведена аутентификация и (или) авторизация Пользователя либо у Исполнителя есть основания полагать, что аутентификация и (или) авторизация Пользователя проведена с нарушениями;</p>
        <p>б) если возникли технические неисправности у Исполнителя;</p>
        <p>в) если от Пользователя не поступила оплата за уже оказанные Услуги Исполнителя и (или) при несвоевременной оплате Услуг. Возобновление оказания Услуг и разблокирование доступа к Учетной записи возможно только после полного погашения задолженности Пользователя перед Исполнителем;</p>
        <p>г) если действия Пользователя нарушают настоящий договор;  </p>
        <p>д) по собственному усмотрению без объяснения причин. В любое время и исключительно по собственному усмотрению.</p>
        <p>7.2. Вносить изменения в настоящий договор в тех случаях, когда согласно его условиям Исполнитель имеет право вносить изменения в одностороннем порядке.</p>
        <p>7.3. Вносить изменения в Тарифы на предоставление Услуг и в стоимость оказываемых услуг в любое время и исключительно по собственному усмотрению.</p>
        <p>7.4. Удерживать вознаграждение за свои услуги в размере, в порядке и в сроки, предусмотренные договорами с Операторами, Агентами, Субагентами а также настоящим Договором.</p>
        <p>7.5. Использовать услуги третьих лиц для исполнения своих обязательств по настоящему Договору, неся при этом ответственность перед Пользователем, использующим такие услуги в полном объеме и в соответствии с настоящим Договором.</p>
        <p>7.6. Устанавливать лимиты по использованию Пользователем Услуг, в зависимости от нагруженности системы.</p>
        <p>7.7. Отказать любому Пользователю в оказании услуг в соответствии с настоящим договором, если права Пользователя на использование Программы (услуг, предоставляемых Исполнителем) не удостоверены.</p>
        <p>7.8. Исполнитель вправе расторгнуть Договор с Пользователем в одностороннем порядке, с одновременной отправкой письменного и (или) электронного уведомления, при нарушении Пользователем условий настоящего Договора. Моментом расторжения договора считается дата направления соответствующего уведомления Пользователю.</p>
        <p>8. Обязанности Исполнителя</p>
        <p>8.1. Предоставить пользователю возможность онлайн регистрации.</p>
        <p>8.2. Оказывать Пользователю Услуги на основании настоящего Договора.</p>
        <p>8.3. Обеспечить Пользователю техническую и информационную поддержку.</p>
        <p>9. Предоставление бесплатной Услуги</p>
        <p>9.1. Пользователю может предоставляться Исполнителем Бесплатная (безвозмездная) Услуга в течение 3 календарных дней.</p>
        <p>9.2. Для получение бесплатной Услуги параметры Учетной записи должны соответствовать требованиям и условиям предоставления бесплатной Услуги, указанных в Тарифах на предоставления Услуг. Бесплатная Услуга включает ограниченные функциональные возможности Программы. Все ограничения для бесплатной Услуги и Тарифы описаны на сайте Исполнителя и могут быть изменены без предварительного уведомления Пользователя.</p>
        <p>10. Доступность Услуги</p>
        <p>10.1. Исполнитель прилагает все усилия для обеспечения бесперебойной работы и предоставления Услуги Пользователю в режиме 24 часа, 7 дней в неделю. Тем не менее, оказание услуги осуществляется с использованием каналов связи, оборудования, программного обеспечения и услуг, работ, товаров третьих сторон, гарантировать доступность (работоспособность и т.п.) которых Исполнитель не может. Поэтому Исполнитель не несет ответственности перед Пользователем и третьими лицами за любые задержки, перерывы и потери, возникшие при оказании Услуги не по его вине.</p>
        <p>11. Техническая и информационная поддержка</p>
        <p>11.1. Исполнитель предоставляет бесплатную техническую и информационную поддержку для всех Пользователей по электронной почте. Пользователь может отправить свой запрос по адресу электронной почты support@instastellar.su</p>
        <p>12. Условия оказания услуг Исполнителем</p>
        <p>12.1. Исполнитель вправе привлекать для предоставления Услуги Пользователям третьих лиц, включая дочерние и аффилированные юридические лица. Пользователь соглашается с тем, что третьи лица, а также дочерние и аффилированные с Исполнителем юридические лица вправе предоставлять Пользователю все Услуги в рамках настоящего Договора, в том числе от лица Исполнителя.</p>
        <p>13. Условия пользования услугами Исполнителя</p>
        <p>13.1. Для доступа к Программе Пользователю может быть предложено предоставить информацию о себе (например, контактные данные) в процессе регистрации или авторизации, необходимую Исполнителю для качественного предоставления услуг в рамках выполнения настоящего Договора. Передаваемые Исполнителем в процессе регистрации данные будут использованы исключительно для выполнения им обязательств по настоящему Договору.</p>
        <p>14. Конфиденциальность</p>
        <p>14.1. Исполнитель с уважением относится к частной информации своих Пользователей. Любая информация, предоставленная Пользователем и не хранится на серверах Исполнителя, не разглашается и не передается третьим лицам, кроме как по требованию официальных органов в соответствии с законом.</p>
        <p>15. Согласие на обработку персональных данных</p>
        <p>15.1. Под обработкой персональных данных Пользователя (субъекта персональных данных) понимаются действия (операции) Исполнителя с персональными данными, включая сбор, систематизацию, накопление, хранение, уточнение (обновление, изменение), использование, распространение (в том числе передачу), обезличивание, блокирование, уничтожение персональных данных и другие возможные и (или) необходимые действия с данными Пользователя.</p>
        <p>15.2. Настоящее Согласие на обработку персональных данных действует в течение срока действия Договора и не менее пяти лет с момента расторжения Договора.</p>
        <p>15.3. Заключение настоящего Договора в данной форме, признается Сторонами согласием Пользователя, исполненным в простой письменной форме, на обработку следующих персональных данных: фамилия, имя, отчество, электронный адрес.</p>
        <p>15.4. Пользователь, в целях исполнения настоящего Договора, предоставляет Исполнителю право осуществлять следующие действия (операции) с персональными данными: сбор и накопление; хранение в течение срока действия Договора и не менее, чем установленные нормативными документами сроки хранения отчетности, но не менее пяти лет, с момента даты прекращения действия Договора; уточнение (обновление, изменение); использование; уничтожение; обезличивание; передача, в т.ч. трансграничная, третьим лицам.</p>
        <p>16. Информация, предоставляемая при использовании</p>
        <p>16.1. Любая информация, к которой Пользователь получает доступ средствами Программы или через использование Услуг Исполнителя (далее - "Содержание"), предоставленное Пользователю, включая, но не ограничиваясь информацией рекламного характера, может являться результатом интеллектуальной деятельности, права на который принадлежат его владельцам.</p>
        <p>17. Порядок прекращения оказания услуг Исполнителем</p>
        <p>17.1. Пользователь соглашается с тем, что Исполнитель по своему усмотрению может прекратить (отменить, приостановить) все или часть Услуг и удалить любые материалы (Содержание, созданное Пользователем, Программные данные и т. п.) из Учетной записи Пользователя, если по мнению Исполнителя Пользователь нарушил настоящий Договор или существующее законодательство, совершает какие-либо мошеннические или незаконные действия, а также, если Пользователь подключился к любой части Услуг без авторизации. Исполнитель сохраняет за собой право проверять достоверность любой полученной информации, в которой говорится, что какая- либо учетная запись используется для совершения мошеннических или незаконных действий, или была использована каким-то образом, нарушающим данный Договор. Подобная проверка может включать вход в учетную запись Пользователя и (или) просмотр любых данных или сведений, содержащихся в ней.</p>
        <p>17.2. Прекращение предоставления Услуг, описанное выше, может быть сделано с уведомлением или без него и вступит в силу незамедлительно. Пользователь согласен с тем, что Исполнитель не несет ответственности перед Пользователем или другой третьей стороной за такое прекращение предоставления Услуг и не обязана возвращать неиспользованные денежные средства Пользователю.</p>
        <p>18. Порядок оплаты Услуг</p>
        <p>18.1. Тарифы на предоставление Услуг Исполнителем, устанавливают и определяют объем и стоимость Услуг, оказываемых Исполнителем. Информация о тарифах размещена на странице http://instastellar.su/purchase Стоимость Услуг указывается в рублях с учетом всех налогов.</p>
        <p>18.2. Исполнитель вправе в одностороннем порядке пересматривать цены (тарифы) на Услуги и вводить новые тарифные планы и (или) устанавливать плату за вновь вводимые или уже существующие услуги.</p>
        <p>18.3. Продолжение Пользователем получения Услуг и (или) использования Программы после внесения изменений в Тарифы означает полное и безоговорочное принятие Пользователем новых условий – Тарифов на предоставление Услуг, а настоящий Договор продолжает свое действие с учетом указанных изменений с даты введения изменений.</p>
        <p>18.4. В случае несогласия Пользователя с изменениями в Тарифах, Пользователь обязан письменно оповестить об этом Исполнителя. В случае получения Исполнителем извещения от Пользователя о несогласии с новыми Тарифами Договор прекращает свое действие через 30 (тридцать) дней с момента получения Исполнителем уведомления Пользователя об отказе о принятии изменений в Тарифах, а до этого момента Услуги предоставляется по Тарифам, оговоренным в действующем Договоре. В случае неполучения Исполнителем уведомления от Пользователя о несогласии с изменениями в Тарифах в течение установленного срока Тарифы считаются принятыми Пользователем, а Договор действующим с учетом новых условий.</p>
        <p>18.5. Стоимость услуг определяется Тарифами и списывается с лицевого счета Пользователя на условиях предоплаты. Пользователь самостоятельно контролирует остаток денежных средств на Лицевом счете и осуществляет его пополнение. Способ пополнения лицевого счета определяется Пользователем самостоятельно из числа вариантов, предложенных на сайте Сервиса.</p>
        <p>18.6. Для юридических лиц Исполнитель предоставляет возможность получить односторонний Акт выполненных работ (оказания услуг) по сумме фактического списания средств с лицевого счета за прошедший отчетный период в электронном виде в «Личном кабинете». Оригинал Акта по запросу Пользователя формируется до 10 числа следующего месяца и доставляется Пользователю с помощью Почты России или иной компании, оказывающей курьерские (почтовые) услуги.</p>
        <p>18.7. При отсутствии у Пользователя претензий по объему, качеству, составу и цене Услуг Исполнителя, в течение пяти рабочих дней после окончания расчетного периода предоставления услуг, обязательства Исполнителя по предоставлению Услуг считаются выполненными надлежащим образом, а Акт приема-передачи услуг подписанным. Моментом окончания расчетного периода предоставления услуг считается последний рабочий день месяца, в котором эти Услуги оказывались.</p>
        <p>18.8. В случае расторжения Договора остатки денежных средств на лицевом счете Пользователя не возвращаются.</p>
        <p>18.9. Пользователь самостоятельно несет ответственность за правильность производимых им платежей. При изменении банковских реквизитов Исполнителя, с момента опубликования новых реквизитов на публичном, официальном сайте Исполнителя Пользователь самостоятельно несет ответственность за платежи, произведенные по устаревшим реквизитам.</p>
        <p>18.10 Факт оплаты Услуги считается подтвержденным, услуги оплаченными, а лицевой счет Пользователя – открытым (пополненным):</p>
        <p>а) при оплате через банк – после поступления сведений из банка о зачислении денежных средств на расчетный счет Исполнителя;</p>
        <p>б) при оплате по кредитным картам - в течение 1 (одного) рабочего дня после получения подтверждения о списании денежных средств с карты от обслуживающего Исполнителя банка. 18.11. Услуги предоставляются при условии наличия положительного баланса на лицевом счете Пользователя.</p>
        <p>18.12. При оплате через банк Пользователь обязан указать в платежном документе имя своей учетной записи, указанный при регистрации в Программе. Исполнитель вправе не предоставлять услуги в случае если в платежном документе Пользователем не указано имя учетной записи, до момента приведения платежного документа в соответствие.</p>
        <p>19. Отсутствие гарантий</p>
        <p>19.1. Пользователь признает и соглашается, что Исполнитель не связан с товарами (услугами) любых третьих лиц, которые он может выбрать для работы и (или) управления совместно с Программой Исполнителя и не несет за них никакой ответственности.</p>
        <p>19.2. Исполнитель не делает никаких заверений относительно качества, точности, надежности, полноты и законности любых товаров (услуг) третьей стороны. Исполнитель также не гарантирует истинности и точности описаний любых рекламных блоков, связок, содержания, советов, мнений, предложений, заявлений, данных и иной информации о любых товарах (услугах) третьих сторон («Непризнанное содержание»), которые отображаются или распространяются через Программу.</p>
        <p>20. Разрешение споров</p>
        <p>20.1. Споры, возникающие при исполнении договора, разрешаются в претензионном порядке. Претензия подается в письменном виде с приложением документов, обосновывающих предъявляемые требования, в срок не более 20 (Двадцати) календарных дней с момента возникновения причины спора. Поступившая претензия рассматривается Исполнителем в срок не более 20 (Двадцати) рабочих дней.</p>
        <p>20.2. Стороны будут прилагать все усилия с целью достижения согласия по спорным вопросам путем переговоров. При невозможности достижения согласия на переговорах, возникшие споры подлежат рассмотрению в Арбитражном суде г. Санкт-Петербурга или суде общей юрисдикции г. Санкт-Петербурга.</p>
        <p>20.3. По всем остальным вопросам, не предусмотренным в Договоре, Стороны руководствуются действующим законодательством Российской Федерации.</p>
        <p>20.4. Стороны согласны признавать данные, полученные в порядке электронного документооборота, установленного Договором, информацию в электронном виде и (или) на бумаге, в качестве доказательств для разрешения споров и разногласий, в том числе при разрешении споров Рассмотрение финансовых претензий к Исполнителю, связанных с предоставлением Услуг, осуществляется при предъявлении Пользователем соответствующих финансовых документов, подтверждающих оплату Услуг Пользователем.</p>
        <p>21. Обстоятельства непреодолимой силы</p>
        <p>21.1. Сторона освобождается от ответственности за частичное или полное неисполнение обязательств по договору, если это неисполнение явилось следствием обстоятельств непреодолимой силы, возникших после заключения договора в результате обстоятельств чрезвычайного характера, которые Сторона не могла ни предвидеть, ни предотвратить разумными мерами. К таким обстоятельствам относятся: телекоммуникационные сбои всеобщего характера, наводнение, пожар, землетрясение и иные явления природы, а также война, военные действия, акты или действия государственных органов и другие.</p>
        <p>21.2. При наступлении указанных в первом абзаце раздела обстоятельств, сторона, исполнению обязательств которой они препятствуют, должна не позднее 5 (Пяти) рабочих дней известить о них в письменном виде другую сторону. Извещение должно содержать данные о характере обстоятельств, что должно быть подтверждено компетентной государственной или иной организацией, а также, по возможности, оценку их влияния на возможность исполнения стороной обязательств по договору и срок исполнения обязательств.</p>
        <p>21.3. В случае если обстоятельства, указанные в первом абзаце раздела, продлятся более 60 (Шестидесяти) календарных дней, Исполнитель имеет право расторгнуть договор в одностороннем внесудебном порядке, при этом Стороны должны провести взаиморасчеты по возникшим при исполнении договора финансовым обязательствам.</p>
        <p>21.4. Если Пользователь не направит или несвоевременно направит извещение, предусмотренное во втором абзаце настоящей главы договора, то Пользователь обязан возместить Исполнителю понесенные им убытки.</p>
        <p>21.5. В случаях наступления обстоятельств, предусмотренных в первом абзаце настоящей главы договора, срок выполнения стороной обязательств по настоящему договору отодвигается соразмерно времени, в течение которого действуют эти обстоятельства и их последствия.</p>
        <p>22. Срок действия договора, порядок заключения договора, изменения и расторжения договора</p>
        <p>22.1. Договор считается заключенным и приобретает юридическую силу с момента совершения Пользователем действий (акцепта), предусмотренных в Оферте и означающих безоговорочное согласие Пользователя с условиями договора и присоединение ко всем условиям Оферты без каких-либо изменений, изъятий или ограничений. Если Пользователь не принимает в полном объеме условия Оферты, то использование Пользователем Программы Исполнителя, а равно любых Услуг, предоставляемых Исполнителем не допускается.</p>
        <p>22.2. Заключение настоящего договора осуществляется путем присоединения к условиям настоящего договора (оферты) в соответствии со ст. 428 ГК РФ и принятие акцепта в соответствии со ст. 438 ГК РФ.</p>
        <p>22.3. В соответствии со статьей 438 ГК РФ, безусловным принятием (акцептом) условий настоящей публичной оферты считается:</p>
        <p>а) осуществление Пользователем любого платежа в счет оплаты услуг Исполнителя;</p>
        <p>б) согласие с его условиями путем принятия опции "Принять" и (или) "Согласен" или аналогичных на экране портативного устройства, персонального компьютера или любого иного устройства, демонстрирующего текст настоящего Соглашения;</p>
        <p>22.4. Настоящий Договор действует бессрочно до момента прекращения его действия по инициативе любой Стороны, как описано в условиях настоящего Договора.</p>
        <p>22.5. Исполнитель вправе вносить изменения в настоящий Договор. В этом случае Исполнитель предоставляет доступ к новой редакции Договора и имеет право предварять очередное использование Услуг приглашением ознакомиться и принять или отклонить действующую редакцию Договора.</p>
        <p>22.6. Используя Программное обеспечение Исполнителя, любую его услугу, функцию или составную часть после даты внесения соответствующих изменений в Договор, Пользователь автоматически принимает условия изменённого Договора.</p>
    </section>
</div>
</body>
    <footer class="text-center" style="margin-top: 0;">
        <div class="footer-below ">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright © instastellar 2015
                    </div>
                    <div class="col-lg-12">
                        <a href="{{ path('additional_info') }}#conf_politics" style="color: #d8c9b5; font-size:9pt;">Политика конфиденциальности</a>
                    </div>
                    <div class="col-lg-12">
                        <a href="{{ path('additional_info') }}#offer" style="color: #d8c9b5; font-size:9pt;">Публичная оферта</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}

