{% extends 'base.html.twig' %}

{% block body %}
    <table>
        <tr>
            <th>Пользователь</th>
            <th>Страница</th>
        </tr>

    <p>Всего {{ actions | length }}</p>
    {% for action in actions %}
        <tr>
            <td>
                {% if action.username %}
                {{ action.username }}
                {% endif %}
            </td>
            <td>
                {% if action.username %}
                    <a href="https://instagram.com/{{ action.username }}">+</a>
                    <a href="https://instagram.com/{{ action.resource }}">res</a>
                {% endif %}
            </td>
        </tr>

    {% endfor %}

    </table>

{% endblock %}

