# Learn more about services, parameters and containers at
# http://symfony.com/doc/current/book/service_container.html
parameters:
#    parameter_name: value

services:
#    service_name:
#        class: AppBundle\Directory\ClassName
#        arguments: ["@another_service_name", "plain_value", "%parameter_name%"]
    form_errors:
        class: TaskBundle\Form\FormErrors
    ausenco_user.user_subscriber:
        class: UserBundle\EventListener\UserSubscriber
        arguments: [@service_container]
        tags:
            - { name: kernel.event_subscriber }