{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}

    <div class="container">
        <div class="row" style="padding-top: 100px">
            <div class="col-lg-4">
            </div>
            <div class="col-lg-4">
                <p style="font-size: 24px;padding-top: 32px;">Поздравляю с успешной регистрацией!</p>

                <p>Вы - участник бесплатного бета тестирования, которое начнется 03.04.2015 в 23:59:59</p>
                <p>В ближайшее время мы вышлем Вам письмо с подробной информацией.</p>
                <p>Спасибо.</p>

            </div>
        </div>
    </div>
{% endblock fos_user_content %}
