{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}

    <div class="container">
        <div class="row" style="padding-top: 100px">
            <div class="col-lg-4">
            </div>
            <div class="col-lg-4">
                <p style="font-size: 24px;padding-top: 32px;">Поздравляю с успешной регистрацией!</p>

                <p>На указанную Вами почту было выслано письмо с ссылкой для подтверждения.</p>

            </div>
        </div>
    </div>
{% endblock fos_user_content %}
