{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}

<div class="container">
    <div class="row" style="padding-top: 100px">
        <div class="col-lg-4">
        </div>
        <div class="col-lg-4">
            <p style="font-size: 24px;padding-top: 32px;">Ваш аккаунт подтвержден!</p>

            <p>Сейчас Вы будете перенаправлены на главную страницу.</p>
            <p>Если этого не происходит перейдите по этой <a href="{{ path('accounts') }}"> ссылке</a></p>
        </div>
    </div>
</div>
    <script>
        $( document ).ready(function() {
            setTimeout(function(){
                window.location.replace("{{ path('accounts') }}");
            },2000)
        });
    </script>
{% endblock fos_user_content %}
