{% extends 'tasks/nav-follow.html.twig' %}
{% block task %}
<div class="row" style="padding-top: 50px;">
<div class="col-md-6 col-md-offset-1">
{{ form_start(form) }}
    {{ form_row(form.tmp_tags) }}
    {{ form_row(form.speed) }}
    <button class="btn btn-primary pull-right">Добавить</button>
{{ form_end(form) }}
</div>
</div>
<style>
    .modal-error{
        margin-bottom: 0px;
        color: red;
    }
    textarea{
        min-height: 150px;
    }
</style>
<script>
    $('#f_list').addClass('active');
</script>
{% endblock %}