{% extends 'base.html.twig' %}

{% block body %}
    <table>
        <tr>
            <th>Аккаунт</th>
            <th>Тэги</th>
            <th>Прогресс</th>
            <th>Статус задачи</th>
            <th></th>
        </tr>
    {% for task in tasks %}
        <tr>
            <td>
                {% if task.username %}
                    {{ task.username | trim(300) }}<br/>
                {% endif %}
            </td>
            <td>
                {% if task.task.tags %}
                    {{ task.task.tags }}<br/>
                {% endif %}
            </td>
            <td>
                ?%
            </td>
            <td>
                выполняется наверно
            </td>
            <td>

            </td>
        </tr>
    {% endfor %}

    </table>

{% endblock %}

