{{ form_start(form) }}
<div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
        {% block header %}
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        {% endblock %}
    </div>
    <div class="modal-body">

        <div class="row">
        <p class="col-sm-3"></p><p class="col-sm-9 modal-error" id="count_errors"></p>
        </div>
        {{ form_row(form.count) }}

    </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Отмена</button>
            <button class="btn btn-primary">Добавить</button>
        </div>
    </div>
</div>
<input name="account_id" id="account_id" hidden="hidden"/>
{{ form_end(form) }}
