{% extends 'base.html.twig' %}
{% block body %}
{{ form_start(form) }}
<div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
        <h1>Отписка</h1>
    </div>
    <div class="modal-body">

        <div class="row">
        <p class="col-sm-3"></p><p class="col-sm-9 modal-error" id="count_errors"></p>
        </div>
        {{ form_row(form.count) }}
    </div>
        <div class="modal-footer">
            <button class="btn btn-primary">Добавить</button>
        </div>
    </div>
</div>
<input name="account_id" id="account_id" hidden="hidden"/>
{{ form_end(form) }}
{% endblock %}