{% extends 'base.html.twig' %}
{% block body %}

<h1>Добавление задачи</h1>
<div class="btn-group" role="group" aria-label="...">
    <button type="button" class="btn btn-default">Фоловинг</button>
    <button type="button" class="btn btn-default">Лайкинг</button>
    <button type="button" class="btn btn-default">Отписка</button>
</div>
    {% block task_body %}{% endblock %}
{% endblock %}