{% extends 'base.html.twig' %}
{% block body %}
<!--
<div class="btn-group" role="group" aria-label="...">
    <button id="f_btn" type="button" class="btn btn-default">Фоловинг</button>
    <button id="l_btn" type="button" class="btn btn-default">Лайкинг</button>
    <button id="u_btn" type="button" class="btn btn-default">Отписка</button>
</div>
-->
    <h1 class="pull-right">
        <img src="{{ account.picture }}" style="width: 40px;height: 40px;">
        {{ account.username }}
    </h1>
    {% block task_body %}{% endblock %}
    <style>
        .btn-primary{
            margin-top: 20px;
            margin-bottom: 50px;
        }

    </style>
{% endblock %}