/*head*/
header .navbar-default{
    background-color: #000000;
    border-bottom: 0px;
}
.navigation{
    width: inherit;
    margin-left: -15px;
}
.nav .glyphicon{
    padding-left: 30px;
}
.logo{
    padding-top: 5px;
}
body.modal-open{
    overflow:inherit; padding-right:inherit !important;
}
#poss{
    background-image: url(/img/passability.png);
    background-size: cover;
}
footer{
    background-color: #000;
}
#why p{
    padding-top: 15px;
}
body .wrapper{
    padding-top: 53px;
}
.rocket{
    padding-bottom: 20px;
}
nav p{
    margin: 0px;
    padding: 0px;
    font-size: 20px;
    color: white;
    letter-spacing: 1px;
    font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
}
p{
    padding-top: 20px;
    font-size: 20px;
    letter-spacing: 1px;
    font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
}
.text-center h1,h2,h3{
    letter-spacing: 1px;
    font-family: "Roboto Condensed", Helvetica, Arial, sans-serif !important;
}
#promote .btn-start{
    margin-top: 0px;
}
.btn-start p{
    letter-spacing: 4px;
}
.btn-default.btn-start{
    box-shadow:         -2px 5px 3px 0px rgba(50, 50, 50, 0.77);
    border-radius: 10px;
    color: #fff;
    width: 360px;
    height: 85px;
    background-color: #e90a71;
    border-color: #ccc;
    font-size: 24px;
    margin-top: 30px;
    padding-top: 0px;
}
.btn-default.btn-start:hover{
    color: #fff;
    background-color: #f30975;
}
.btn-default.btn-start:focus{
     outline: none;
     border: 0px;
     color: #fff;
     background-color: #e90a71;
 }
.btn-default.btn-start{
    outline: none;
    border: 0px;
    color: #fff;
    background-color: #e90a71;
}
/*
2
*/
#poss .text-center{
    display: flex;
    flex-direction: row;
}
#poss .text-center > [class^="col-"],
#poss .text-center> [class*=" col-"] {
    display: flex;
    align-items: center;
    justify-content: center;
}
#poss .row{
color: #ffffff;
}
#poss .row,#promote .row, #why .row{
    padding-top: 50px;
}
#poss h1{
    text-align: center;
    color: #ffffff;
}
/**/

.wrapper {min-width:500px;padding: 0 15px;background-color:#f2f2f2;}
.navigation {position:fixed;}
.content {background-color:#fff;}

/* slider*/

.panel {
    box-shadow: none !important;
}
/* slider*/
.btn-group.pull-right{
    bottom: 5px;
}

.long_tags a {
    color: #0254EB
}
.long_tags a:visited {
    color: #0254EB
}
.long_tags a.morelink {
    text-decoration:none;
    outline: none;
}
.long_tags .morecontent span {
    display: none;
}
.long_tags .comment {
    word-wrap: break-word;
    background-color: #f0f0f0;
    margin: 10px;
}
.left-menu > .active a {
    background-color: #428BCA;
    color: #FFFFFF;
}
.left-menu a{
    width: 80%;
    border-radius: 25px;
    margin: 0 auto;
}
.left-menu li{
    border: 3px solid #f2f2f2;
}
.nav>li>a:hover{
    background-color: #BBCAD8!important;
    color: #FFFFFF;
}