/*head*/
header .navbar-default{
    background-color: #000000;
    vertical-align: bottom;
    text-align: center;
}
.navbar-nav >.active{
    background-color: #ffff00;
}

header nav p{
    font-size: 13pt;
}
header .nav.li.a{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
}
.navbar-default .navbar-nav > li > a:hover{
    transition: 0.5s all linear;
    background-color: #fb2c93;
}
.navbar-default .navbar-nav > li > a:active{
    background-color: #e90a71;
}
.navbar-default .navbar-nav > li > a:focus{
    background-color: #e90a71;
}

#promote #brief #poss #why .col-xs-12{
    text-align: center;
}
.navigation{
    padding-top: 20px;
    width: inherit;
    margin-left: -15px;
    padding-bottom: 20px;
}
.nav .glyphicon{
    padding-left: 30px;
}
.navbar-fixed-top .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #000;  /*Sets the text hover color on navbar*/
}
.navbar-fixed-top .navbar-nav > .active > a, .navbar-default .navbar-nav > .active >
a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #e90a71;
}
.nav > li > a:hover,
.nav > li > a:focus {
    text-decoration: none;
    background-color: silver; /*Change rollover cell color here*/
}

.logo{
    padding-top: 5px;
}
body.modal-open{
    overflow:inherit; padding-right:inherit !important;
}
/*
#brief{
    background-image: url(/img/background_space.jpg);
    background-size: cover;

}
*/
#brief p{
    color:#ffffff;
    /*Здесь выбрать нормальный шрифт*/
    //font-family:HelveticaNeue-Light;
}
#conf_politics p{
    color:#ffffff;
    font-family:HelveticaNeue-Light;
}
#offer p{
    color:#ffffff;
    font-family:HelveticaNeue-Light;
}
#partnership p{
    color:#ffffff;
    font-family:HelveticaNeue-Light;
}

#poss{
    /*background-image: url(/img/passability.png);
    background-image: url(/img/background_space.jpg);
    */
    background-size: cover;
}
#why{
    background-image: url('/img/background_space.jpg');
    background-size: cover;
    padding-bottom: 30px;"
}
footer{
    background-color: #000;
    MARGIN-TOP: 30px;
    color: antiquewhite;
}
#why p{
    padding-top: 15px;
    color:#ffffff;
}
#why h3{
    color:#e90a71;
}

body .wrapper{
    padding-top: 50px;
}
.rocket{
    padding-left: 5%;
}
nav p{
    margin: 0px;
    padding: 0px;
    font-size: 20px;
    color: white;
    letter-spacing: 1px;
    font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
}
p{
    padding-top: 20px;
    font-size: 20px;
    letter-spacing: 1px;
    font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
}
#promote .btn-start{
    margin-top: 0px;
}
#promote h1{
    font-family: 'Lobster', cursive!important;
    color:#000000;
    font-size: 48pt;
}
#promote h3{
    color: #666666;
}
#why h1{
    font-family: 'Lobster', cursive!important;
    color:#FFFFFF;
    font-size: 36pt;
}
.btn-start p{
    letter-spacing: 4px;
}
.btn-default.btn-start{
    box-shadow:         -1px 4px 3px 0px rgba(50, 50, 50, 0.77);
    border-radius: 10px;
    color: #fff;
    width: 360px;
    height: 85px;
    background-color: #e90a71;
    border-color: #ccc;
    font-size: 24px;
    margin-top: 30px;
    padding-top: 10px;
    text-align: center;
}
.btn-default.btn-start:hover{
    color: #fff;
    background-color: #f30975;
}
.btn-default.btn-start:focus{
     outline: none;
     border: 0px;
     color: #fff;
     background-color: #e90a71;
 }
.btn-default.btn-start{
    outline: none;
    border: 0px;
    color: #fff;
    background-color: #e90a71;
    white-space: normal;
    max-width: 100%;
    height:auto;
}
/*
2
*/
#poss .text-center{
    display: flex;
    flex-direction: row;
}
#poss .text-center > [class^="col-"],
#poss .text-center> [class*=" col-"] {
    display: flex;
    align-items: center;
    justify-content: center;
}
#poss .row{
color: #ffffff;
}
#poss .row,#promote .row, #why .row{
    padding-top: 50px;
}
#poss h1{
    /*wtf?*/
    font-family: 'Lobster', cursive!important;
    color: #ffffff;
    font-size: 34pt;
}
#conf_politics h1{
    font-family: 'Lobster', cursive!important;
    color: #ffffff;
    font-size: 34pt;
}

#offer h1{
    font-family: 'Lobster', cursive!important;
    color: #ffffff;
    font-size: 34pt;
}
#partnership h1{
    font-family: 'Lobster', cursive!important;
    color: #ffffff;
    font-size: 34pt;
}
/**/

.wrapper {min-width:500px;padding: 0 15px;background-color:#dddddd;}
.navigation {position:fixed;}
.content {background-color:#fff;}

/* slider*/

.panel {
    box-shadow: none !important;
}

#poss .container2{
    text-align: center;
    vertical-align: top;
}

#poss .imgholder{
    margin-bottom: 40px;
}
#poss .img-responsive{
    margin: 0 auto;
}

@media (max-width: 767px) {
    #poss h1{font-family: "Lobster", cursive!important; font-size:7vw;}
    #poss .img-responsive{padding-top:2px!important;}
    #poss .xs-noleftpadding{padding-left: 0px; padding-right:30px;} /*костыль для слова instastellar в строке*/
    #why h1{font-size: 10vw;}
    #why .img-responsive{padding-top:0!important;}
    #promote h1{font-size: 40pt;}
    header nav p{font-size: 13pt!important;}
    header .navbar-nav.navbar-right{padding-right:0!important;}
}

#why a{
    padding-top: 20px;
    font-size: 20px;
    letter-spacing: 1px;
    font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
    color: #ffffff;
    margin-top: 40px;
}

#conf_politics, #offer, #partnership h3{
    color: #ffffff;
}
/* slider*/