{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="modal-dialog" style="padding-top: 100px;max-width: 400px;">
        <p>{{ 'resetting.password_already_requested'|trans }}</p>
    </div>
{% endblock fos_user_content %}

