{% extends 'tasks/task_base.html.twig' %}
{% block task_body %}

    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>

    <script>
        $( document ).ready(function() {
            $('#likebygeo_tags').val($('#lat').val() + ';' + $('#lng').val() + ';' + $('#radius').val());

            var spb = new google.maps.LatLng(59.94, 30.34);
            var map;
            var circle;

            function initialize() {
                var mapOptions = {
                    zoom: 10,
                    center: spb
                };

                map = new google.maps.Map(document.getElementById('map-canvas'),
                        mapOptions);

                var options = {
                    strokeColor: '#FF0000',
                    strokeOpacity: 0.8,
                    strokeWeight: 2,
                    fillColor: '#FF0000',
                    fillOpacity: 0.35,
                    map: map,
                    center: spb,
                    editable: true,
                    draggable: true,
                    radius: 1000
                };
                circle = new google.maps.Circle(options);
                google.maps.event.addListener(circle, 'radius_changed', function () {
                    $('#radius').val(circle.getRadius());
                    $('#likebygeo_tags').val($('#lat').val() + ';' + $('#lng').val() + ';' + $('#radius').val());
                });
                google.maps.event.addListener(circle, 'center_changed', function () {
                    $('#lat').val(circle.getCenter()['A']);
                    $('#lng').val(circle.getCenter()['F']);
                    $('#likebygeo_tags').val($('#lat').val() + ';' + $('#lng').val() + ';' + $('#radius').val());
                });
            }

            google.maps.event.addDomListener(window, 'load', initialize);

            $('.lat-lng').bind("change paste keyup", function () {
                circle.setCenter(new google.maps.LatLng($('#lat').val(), $('#lng').val()));
                circle.setRadius(parseInt($('#radius').val()));
                $('#likebygeo_tags').val($('#lat').val() + ';' + $('#lng').val() + ';' + $('#radius').val());
            })

            $('[data-toggle="collapse"]').click('shown.bs.collapse', function() {
                setTimeout(function(){google.maps.event.trigger(map, "resize");
                },1000)
            });
        })

    </script>

    <h1>Добавление задачи  на лайкинг</h1>
    <ul class="nav nav-tabs" style="padding-top: 30px;">
        <li class="like_by_tags" role="presentation"><a href="{{ path('add_task_like_by_tags',{ 'id':  app.request.get('id') }) }}">По тэгам</a></li>
        <li class="like_by_geo" role="presentation"><a href="{{ path('add_task_like_by_geo',{ 'id':  app.request.get('id') }) }}">По гео</a></li>
    </ul>

    {% block task %}{% endblock %}

    <style>
        #map-canvas {
            height: 60%;
            margin: 0px;
            padding: 0px;
            margin-top: 10px;
            margin-bottom: 20px;
        }
        .modal-error{
            margin-bottom: 0px;
            color: red;
        }
    </style>
{% endblock %}