{% extends 'base.html.twig' %}

{% block body %}
    <p id="error" hidden="hidden">Авторизация не удалась, Вы ввели неверные данные?</p>
    {{ form_start(form) }}
    <button id='add_account' class="btn btn-primary" >Добавить</button>
    {{ form_end(form) }}

    <script>
        $('form').submit(function(){
            console.log(2);
            postForm( function (response) {
                console.log(response);
                if(response != 1)
                    $('#error').show();
                else{
                    $('form').hide();
                    $('#add_account').hide();
                    $('#error').hide();
                    $('.content').append('<p>Добавляем аккаунт, это может занять несколько минут</p>');
                    return true;
                }
            });
            return false;
        });

        function postAuthForm( $form,callback ){
            var values = {};
            $.each( $form.serializeArray(), function(i, field) {
                values[field.name] = field.value;
                console.log(field.value);
            });
            $.ajax({
                type        : 'post',
                url         : "{{  path('add_login_password_account')}}" ,
                data        : values,
                success     : function(data) {
                    callback( data );}
            });
        }

        function postForm( callback ){
            var login = $('#form_instLogin').val();
            var password = $('#form_instPass').val();
            var values = {login: login, password : password};

            $.ajax({
                type        : 'post',
                url         : "{{  path('check_login_password_account')}}" ,
                data        : values,
                success     : function(data) {
                    callback( data );}
            });
        }

    </script>
{% endblock %}
