{% extends 'base.html.twig' %}

{% block body %}

    {{ form_start(form, {'attr': {'id': 'form_login_pass'}}) }}
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1>Добавление аккаунта</h1>
                <p>Внимание! Начиная с 23.07 участились случаи сбрасывания паролей при первой авторизации через наш сервис.</p>
                <h5>Внимание! Теперь при первой авторизации через наш сервис Instagram может сбросить пароль. В этом случае восстановите его и добавьте аккаунт в instaStellar заново.</h5>
                <h5>Это связано с недавними(23.07.2015) нерегламентированными изменениями в API Instagram.</h5>
            </div>
            <div class="modal-body">
                {{ form_row(form.instLogin) }}
                {{ form_row(form.instPass) }}
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary">Добавить</button>
            </div>
        </div>
    </div>
    {{ form_end(form) }}

    <style>
        .modal-error{
            margin-bottom: 0px;
            color: red;
        }
        .loader-gif{
            width: 50px;
            height: 50px;
            display: block;
            margin: 0 auto;
        }
    </style>

    <script>
        $( document ).ready(function() {
            $('#form_login_pass').submit(function() {
                $('.modal-dialog').children().hide();
                $('.modal-dialog').append('<p>Добавляем аккаунт, это может занять несколько минут</p>');
                $('.modal-dialog').append('<img src="/img/ajax-loader.gif" class="loader-gif">');
            });
        });

    </script>
{% endblock %}
